/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------- */

/* -------------------------- GENERAL -------------------------------- */
body {
    font-family: 'Raleway', sans-serif;
    /* padding-top: 60px; */
    background-color: #f5f5f5;

}

button {
    background-color: #33586e;
    color: #fff;
    padding: 8px;
    border: transparent;
    border-radius: 6px 6px 6px 6px;
    text-transform: uppercase;
    cursor: pointer;
}

#btn-nav {
    display: none;
}

#nav-responsive {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

.bg-head {
    width: 100%;
    height: 500px;
    background-image: url('../images/slider/alaska7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ----------------------- NAV -------------------------------- */
header {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 200;
    color: #33586e;
    /* background-color: #33586e; */
    /* box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1); */
}

h1 {
    margin: 15px;
    font-size: 2em;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
}

#menu ul {
    display: flex;
    margin-top: 22px;
    margin-right: 15px;
    font-size: 1.3em;
}

#menu ul li {
    margin-left: 15px;
}

#menu ul li:last-child {
    margin-left: 50px;
}

/* Media Queries */
@media screen and (max-width: 840px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    
    header ul {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 752px) {
    #btn-nav {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 30;
        cursor: pointer;
    }

    #menu {
        display: none;
    }

    #menu.open {
        display: inline-block;
    }

    #menu.open ul li:last-child {
        margin-left: 15px;
    }

    #btn-nav .barre {
        width: 30px;
        height: 3px;
        background-color: #33586e;
        margin-top: 4px;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.7em;
    }

    #menu.open ul  {
        display: flex;
        flex-direction: column;
    }

    #menu.open ul li {
        margin-bottom: 8px;
    }
}

/* ----------------------- DIAPORAMA -------------------------------- */
#slideshow {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #fff;
}

.container-slider {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#slider {
    display: flex;
    width: 300%;
    height: auto;
    transition: 1s;
    animation: 19s slide infinite; 
}

.img-slide {
    width: 100%;
    height: auto;
}

#slider img {
    display: block;
    height: auto;
    width: 100%;
}

@keyframes slide {
	0%, 30%, 100% {
		transform: translateX(0);
	}
	40%, 60%  {
		transform: translateX(-33.33%);
    }
    70%, 90% {
        transform: translateX(-66.66%)
    }
}

.title {
    position: relative;
    top: -500px;
    left: 100px;
    z-index: 10;
    color: #33586e;
}

.title h2 {
    font-size: 2.5em;
    margin-bottom: 10px;

}

.title p {
    font-family: 'Indie Flower', cursive;
    margin-bottom: 10px;
}

/* Media Queries */
@media screen and (min-width: 2000px) {
    .title {
        top: -750px;
    }
}
@media screen and (min-width:1600px) {
    .title {
        left: 50px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .title {
        left: 25px;
        top: -450px;
    }

    .title h2 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1250px) and (max-width: 1400px) {
    .title {
        left: 20px;
        top: -400px;
    }

    .title h2 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1250px) {
    .title {
        left: 20px;
        top: -350px;
    }

    .title h2 {
        font-size: 2em;
    }
}

@media screen and (max-width: 1080px) {
    .title {
        left: 0;
        top: 10px;
        text-align: center;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 380px) {
    .title {
        top: 90px;
    }
}
/* --------------------------- BIOGRAPHY --------------------------- */

#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    background-color: #fff;

}

.head-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head-bio img {
    width: 200px;
    height: auto;
}

.connect {
    width: 1px;
    height: 70px;
    border-right: 3px solid #33586e;
}

#bio h2 {
    background-color: #33586e;
    color: #fff;
    padding: 10px;
}

.text-bio {
    color: #33586e;
    text-align: justify;
    padding: 20px;
    width: 80%;
}
/* -------------------- LAST CHAPTERS PAGE HOME -------------------- */
#chapitres {
    background-color: #33586e;
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #33586e;
}

#chapitres h2 {
    display: inline-block;
    text-align: center;
    background-color: #2E3841;
    color: #fff;
    padding: 10px;
    margin-bottom: 60px;
}

.container-chapter {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chapter-resume {
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 15px;
    width: 400px;
    height: auto;
}

.chapter-resume h3 {
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.chapter-resume span {
    font-style: italic;
    font-weight: 400;
    float: right;
}

.chapter-resume p {
    text-align: justify;
}

.chapter-resume:hover {
    box-shadow: 3px 3px 7px 3px;

}

/* -------------------- PAGE CHAPITRES ---------------------------- */
.mess-head {
    text-align: center;
    color: #33586e;
    position: relative;
    top: 50%;
    font-size: 2.3em;
    text-transform: uppercase;
}
/* chapter list */
.list-chapter {
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: center;
}

.list-chapter li {
    margin-left: 2px;
}


.list-chapter a {
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 120;
}

/* Chapters */
#container-page {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #33586e;
}

.chapter {
    width: 60%;
    padding: 60px;
    height: auto;
    text-align: justify;
    color: #33586e;
}

.chapter h2 {
    color: #33586e;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

/* Comments */
.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 60px 0;
    background-color: #33586e;
}

.comments-box {
    width: 80%;
}

.comments h2 {
    margin-left: 50px;
}

.container-comm {
    margin-bottom: 20px;
    display: block;
}

.name {
    display: inline-block;
    padding: 10px;
    background-color: #2E3841;
    color: #fff;
    position: relative;
    top: 15px;
    left: 15px;
}

.comment {
    background-color: #fff;
    margin: 0 50px 0 50px;
    padding: 20px;
}

.date {
    float: right;
    font-style: italic;
    color: #2E3841;
}

.bubble-mess {
    position: relative;
    top: -15px;
    left: 30px;
    box-shadow: 12px 15px rgba(110, 51, 56, 0.5);
    border: 1px solid #2E3841;
    background-color: #6e3338;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    width: 50%;
}

.bubble-mess::before {
    content: '';
    position: absolute;
    top: -15px;
    right: 40px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #6e3338;
}

.report-btn {
    float: right;
    position: relative;
    top: -15px;
    left: -15px;
    background-color: #6e3338;
    color: #fff;
    padding: 8px;
    border: transparent;
    border-radius: 6px 6px 6px 6px;
    text-transform: uppercase;
    cursor: pointer;
}

/* add comment */
.add-comments {
    width: 100%;
    margin: 60px 0 60px 0;
}

.box-add-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-comments h2, .comments h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

.add-comments h2 {
    color: #33586e;
}

.add-comments form div {
    margin-bottom: 10px;
}

.add-comments form input {
    width: 500px;
    margin: 1px;
    border: 1px solid #33586e;
}

.add-comments form textarea {
    width: 500px;
    height: 200px;
    margin: 1px;
    border: 1px solid #33586e;

}
 /* Media queries */
 @media screen and (max-width: 768px) {
    .chapter, .comments-box {
        width: 100%;
        padding: 0;
    }
    .chapter p {
        padding: 2px;
    }
}

@media screen and (max-width: 510px) {
    .add-comments form input {
        width: 200px;
    }
    .add-comments form textarea {
        width: 200px;
    }
}
/* -------------------- PAGE CONNEXION ---------------------------- */

#form-connect {
    height: auto;
    position: relative;
    color: #33586e;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container-form-connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px 0 50px 0;
}

#form-connect h2 {
    color: #33586e;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}

#form-connect form p{
    margin-bottom: 15px;
}

#form-connect input {
    width: 300px;
    border: 1px solid #33586e;
}

#pseudo {
    margin-left: 43.65px;
}

@media screen and (max-width: 375px) {
    #form-connect input {
        width: 200px;
    }

    .mess-head {
        font-size: 2em;
    }
}

/* ------------------------ FOOTER ------------------------------- */
footer {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;
    background-color: #2E3841;
    position: relative;
    /* top: 0; */
    bottom: 0;
    z-index: 2;
    color: #fff;
}

footer p {
    text-align: center;
    position: relative;
    top: 50%;
}